# Python
__pycache__/
*.pyc
venv/
.env

# Logs & data
*.log
logs/

# System/Editor
.DS_Store
*.swp

# IDE folders
.idea/
.vscode/

# Credentials
*.pem
*.key
*.crt

# OS junk
Thumbs.db
